<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.css")">
  <link rel="stylesheet" href="@routes.Assets.at("stylesheets/app.css")">
  <script src="@routes.Assets.at("javascripts/angular.js")"></script>
  <script src="@routes.Assets.at("javascripts/angular/controllers.js")"></script>
</head>
<body ng-controller="PhoneListCtrl">
    <form>
        <input type="text" ng-model="phone.id">
        <input type="text" ng-model="phone.name">
        
        <input type="submit" value="save" ng-click="savePhone()">
    </form>


  Search: <input ng-model="query">
  Sort by:
  <select ng-model="orderProp">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>
  <br>

  <ul class="phones">
    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
      <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="../assets/{{phone.imageUrl}}"></a>
      <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>
  
  
</body>
</html>